header{
display: flex;
align-items: center;
justify-content: space-around;

}

a{
    text-decoration: none;
    color: gray;
}

.box1{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

a:hover{
    color: black;
}

.section1{
    width: 320px;
}

.bux{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    align-items: center;
}

main img{
    width: 509px;
    height: 366px;
}

.b1{
    background-color: rgba(69, 143, 246, 1);
    width: 150px;
    height: 35px;
    color: #fff;
    border: none;
    border-radius: 30px;
}

.b1:active{
    background-color:   blue;
    color: black;
}

h2{
    margin-top: 75px;
    text-align: center;
}

.t{
    color: gray;
    width: 760px;
    text-align: center;
   
    margin:  auto  ;
    margin-top: 45px;
   
    
}



.im{
    width: 80px;
    height: 80px;
    margin-top: 50px;
    
}

.im2{
    width: 60px;
    height: 80px;
    margin-top: 50px;

}

.box2 div{
    background-color:rgba(231, 231, 231, 1) ;
    width: 335px;
    height: 335px;
    border-radius: 15px;
    color: #000;
    margin-top: 40px;
   
}

.box2 div p,h3,img{
    margin-left:   18px;
    margin-right: 18px;
}

.box2 div:hover{
    background-color: rgba(90, 152, 242, 1) ;
    color: #fff;
}


.im3{
    width: 60px;
    height: 80px;
    margin-top: 50px;
   
}

.im4{
    width: 60px;
    height: 80px;
    margin-top: 50px;
    
}

.im5{
    width: 55px;
    height: 50px;
    margin-top: 50px;
}

.im6{
    width: 60px;
    height: 80px;
    margin-top: 50px;
}



.box2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.b2{
    height: 36px;
    width: 140px;
    color: rgba(69, 143, 246, 1);
    border: 1px solid rgba(69, 143, 246, 1);
    border-radius: 20px; 
    margin-top: 30px;
  
}

.b2:active{
    color: #fff;
    background-color: rgba(69, 143, 246, 1);
}

.but{
    display: flex;
    justify-content: center;
}


.s{
    text-align: center;
    margin-top: 45px;
}